.minute-data {
  margin-top: 1rem;
  width: 100%;

  &__container {
    @extend .grid-x;
    @extend .grid-margin-x;

    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
}