@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

@import 'settings';
@import 'foundation-sites/scss/foundation.scss';
@include foundation-global-styles;
@include foundation-typography; 

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #343F56;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
