<div class="graphs">
  <h3>K/D</h3>
  <div class="graphs__kd-graph"><canvas id="kd-graph-all"></canvas></div>
  <h3>Placements</h3>
  <div class="graphs__placement-graph">
    <canvas id="placement-graph-all"></canvas>
  </div>
</div>
<script>
  var kdAllData = {
    labels: {{ labels_kd_total | safe }},
    datasets: [
      {
        label: 'K/D',
        data: {{ kd_per_day_total }},
        borderColor: '#ff8300',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(255, 131, 0, 0.125)',
        pointRadius: 4,
      },
    ],
  };

  var placementAllData = {
    datasets: [
      { data: {{ placements_solo }}, },
      { data: {{ placements_duo }}, },
      { data: {{ placements_squad }},},
    ],
    labels: ['Victory', 'Silver', 'Bronze', 'Loss'],
  };
</script>
