<div class="graphs">
  <div class="graphs__graph">
      <h3>K/D per Day</h3>
      <canvas id="kd-graph-all"></canvas>
    </div>
    <div class="graphs__graph">
    <h3>Games per Day</h3>
    <canvas id="games-graph-all"></canvas>
  </div>
  <div class="graphs__graph">
    <h3>Placements</h3>
    <canvas id="placement-graph-all"></canvas>
  </div>
</div>
<script>
  var kdAllData = {
    labels: {{ labels_kd_total | safe }},
    datasets: [
      {
        label: 'Daily K/D',
        data: {{ kd_per_day_total }},
        borderColor: '#22d900',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(34, 217, 0, 0.125)',
        pointRadius: 4,
        lineTension: 0,
      },
      {
        label: 'Alltime K/D',
        data: {{ kd_tracker_total | safe }},
        borderColor: '#106b00',
        borderWidth: 2,
        fill: true,
        backgroundColor:'rgba(25, 161, 0, 0.125)',
        pointRadius: 4,
        lineTension: 0,
      },
    ],
  };

  var placementAllData = {
    datasets: [
      { data: {{ placements_solo }}, label: 'Solo', labels: ['Solo Victory', 'Solo Top 10', 'Solo Top 25', 'Solo Loss']},
      { data: {{ placements_duo }}, label: 'Solo', labels: ['Duo Victory', 'Duo Top 5', 'Duo Top 12', 'Duo Loss']},
      { data: {{ placements_squad }}, label: 'Solo', labels: ['Squad Victory', 'Squad Top 3', 'Squad Top 6', 'Squad Loss']},
    ],
  };

  var gamesAllData = {
    datasets: [
      { data: {{ games_per_day_total }}, },
    ],
    labels: {{ labels_games_total | safe }},
  };
</script>
