<div class="graphs">
  <h3>K/D</h3>
  <div class="graphs__kd-graph"><canvas id="kd-graph-all"></canvas></div>
  <h3>Placements</h3>
  <div class="graphs__placement-graph">
    <canvas id="placement-graph-all"></canvas>
  </div>
</div>
<script>
  var kdAllData = {
    labels: ['1/1', '1/2', '1/3', '1/4', '1/5'],
    datasets: [
      {
        label: 'K/D',
        data: [1, 1.3, 1.25, 1.3, 1.275],
        borderColor: '#ff8300',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(255, 131, 0, 0.125)',
        pointRadius: 4,
      },
      {
        label: 'K/D',
        data: [0.8, 1, 1.2, 1.4, 1.5],
        borderColor: '#007cff',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(0, 124, 255, 0.125)',
        pointRadius: 4,
      },
    ],
  };

  var placementAllData = {
    datasets: [
      { data: {{ placements_solo }}, },
      { data: {{ placements_duo }}, },
      { data: {{ placements_squad }},},
    ],
    labels: ['Victory', 'Silver', 'Bronze', 'Loss'],
  };
</script>
