<div class="graphs">
  <h3>K/D per Day</h3>
  <div class="graphs__kd-graph"><canvas id="kd-graph-duo"></canvas></div>
  <h3>Placements</h3>
  <div class="graphs__placement-graph">
    <canvas id="placement-graph-duo"></canvas>
  </div>
</div>
<script>
  var kdDuoData = {
    labels: {{ labels_kd_duo | safe }},
    datasets: [
      {
        label: 'K/D',
        data: {{ kd_per_day_duo }},
        borderColor: '#ff8300',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(255, 131, 0, 0.125)',
        pointRadius: 4,
        lineTension: 0,
      },
    ],
  };

  var placementDuoData = {
    datasets: [
      { data: {{ placements_duo }}, label: 'Solo', labels: ['Duo Victory', 'Duo Top 5', 'Duo Top 12', 'Duo Loss']}
    ],
    labels: ['Victory', 'Silver', 'Bronze', 'Loss'],
  };
</script>
