<div class="graphs">
  <h3>K/D per Day</h3>
  <div class="graphs__kd-graph"><canvas id="kd-graph-solo"></canvas></div>
  <h3>Placements</h3>
  <div class="graphs__placement-graph">
    <canvas id="placement-graph-solo"></canvas>
  </div>
  <h3>Games per Day</h3>
  <div class="graphs__games-day"><canvas id="games-graph-solo"></canvas></div>
</div>
<script>
  var kdSoloData = {
    labels: {{ labels_kd_solo | safe }},
    datasets: [
      {
        label: 'K/D',
        data: {{ kd_per_day_solo }},
        borderColor: '#22d900',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(34, 217, 0, 0.125)',
        pointRadius: 4,
        lineTension: 0,
      },
    ],
  };

  var placementSoloData = {
    datasets: [
      { data: {{ placements_solo }}, label: 'Solo', labels: ['Solo Victory', 'Solo Top 10', 'Solo Top 25', 'Solo Loss']}
    ],
  };

  var gamesSoloData = {
    datasets: [
      { data: {{ games_per_day_solo }}, },
    ],
    labels: {{ labels_games_solo | safe }},
  };
</script>
