<div class="graphs">
  <h3>K/D per Day</h3>
  <div class="graphs__kd-graph"><canvas id="kd-graph-squad"></canvas></div>
  <h3>Placements</h3>
  <div class="graphs__placement-graph">
    <canvas id="placement-graph-squad"></canvas>
  </div>
  <h3>Games per Day</h3>
  <div class="graphs__games-day"><canvas id="games-graph-squad"></canvas></div>
</div>
<script>
  var kdSquadData = {
    labels: {{ labels_kd_squad | safe }},
    datasets: [
      {
        label: 'K/D',
        data: {{ kd_per_day_squad }},
        borderColor: '#22d900',
        borderWidth: 2,
        fill: true,
        backgroundColor: 'rgba(34, 217, 0, 0.125)',
        pointRadius: 4,
        lineTension: 0,
      },
    ],
  };

  var placementSquadData = {
    datasets: [
      { data: {{ placements_squad }}, label: 'Solo', labels: ['Squad Victory', 'Squad Top 3', 'Squad Top 6', 'Squad Loss']},
    ],
    labels: ['Victory', 'Silver', 'Bronze', 'Loss'],
  };

  var gamesSquadData = {
    datasets: [
      { data: {{ games_per_day_squad }}, },
    ],
    labels: {{ labels_games_squad | safe }},
  };
</script>
