.details {
  width: 100%;
  background-color: $black;
  box-shadow: 0px 4px 2px -2px $black;

  &__container {
    @extend .grid-x;

    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  &__number-stat {
    @extend .cell;
    @extend .medium-3;
    @extend .small-6;
    @extend .grid-y;

    padding: 1rem;
    text-align: center;
    border-right: 1px solid rgba($white, 0.125);

    &:nth-of-type(2) {
      @include breakpoint(small only) {
        border: none;
      }
    }

    &:last-of-type {
      border: none;
    }

    h2:last-of-type {
      color: $primary-color;
    }
  }
}
