.games {
  @extend .grid-y;
  @extend .cell;
  @extend .small-12;
  @extend .medium-6;

  @include breakpoint(small only) {
    order: 2;
  }

  &__records {
    @extend .card;

    padding: 0.5rem 1rem;
  }

  &__list {
    @extend .card;

    padding: 0.5rem 1rem;
  }

  &__game {
    border-bottom: 1px solid rgba($white, 0.125);
    padding: 0.5rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: darken($dark-gray, 2%);
    }

    // &:last-of-type {
    //   border-bottom: none;
    // }

    h5 {
      color: $primary-color;
    }

    p {
      margin: 0;
    }
  }

  &__top {
    @extend .grid-x;
    @extend .align-justify;
  }

  &__bottom {
    @extend .grid-x;
    @extend .align-justify;

    i {
      margin-left: 0.5rem;
      color: $primary-color;
    }
  }
}
