$purple: #6441a5;

.obs {
  display: flex;
  padding: 1rem;

  &__stat {
    display: flex;
    flex-direction: column;
    flex: 1;

    text-align: center;
    border-right: 1px solid rgba($white, 0.125);

    &:last-of-type {
      border: none;
    }

    h3:last-of-type {
      color: $purple;
    }
  }

}