.stats {
  flex: 1;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: $white;

  &__container {
    @extend .grid-x;
    @extend .grid-margin-x;
  }

  &__details {
    @extend .cell;
    @extend .small-12;
    @extend .medium-6;
    @extend .grid-y;
  }

  &__games {
    @extend .cell;
    @extend .small-12;
    @extend .medium-6;
    @extend .grid-y;
  }

  &__list {
    ul {
      display: flex;
      margin: 0;
      list-style-type: none;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid $secondary-color;
      padding: 0 1rem;

      &:last-of-type {
        border: none;
      }

      span:first-of-type {
        font-size: 1.5rem;
        color: $primary-color;
      }

      span:last-of-type {
        color: $secondary-color;
      }
    }
  }

  &__kd-graph {
    width: 100%;
    margin: 2rem 0;
  }

  &__placement-graph {
    width: 100%;
    margin: 2rem 0;
  }

  &__games-table {
    th {
      text-align: left;
    }
  }
}
