@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

@import 'reset';

// Foundation is loaded in the docker container so it's not committed up
@import 'settings';
@import '../foundation-sites-6.5.1/scss/foundation.scss';
@include foundation-everything;

@import 'header';
@import 'details';
// @import 'stats';
@import 'visuals';
@import 'games';
@import 'graphs';

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
}
