<div class="details">
  <div class="details__container">
    <div class="details__number-stat">
      <h2><i class="fas fa-trophy"></i></h2>
      <h2>{{ placetop1_squad }}</h2>
      <h3>Victories</h3>
    </div>
    <div class="details__number-stat">
      <h2><i class="fas fa-gamepad"></i></h2>
      <h2>{{ matchesplayed_squad }}</h2>
      <h3>Matches</h3>
    </div>
    <div class="details__number-stat">
      <h2><i class="fas fa-skull"></i></h2>
      <h2>{{ kills_squad }}</h2>
      <h3>Kills</h3>
    </div>
    <div class="details__number-stat">
      <h2><i class="fas fa-star-half-alt"></i></h2>
      <h2>{{ kd_squad }}</h2>
      <h3>K/D</h3>
    </div>
  </div>
</div>
