<div class="games">
  <h3>Games</h3>
  <div class="games__scroller">
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
    <div class="games__game">
      <div class="games__top">
        <h5>Squad Match</h5>
        <p>1/20 12:28pm</p>
      </div>
      <div class="games__bottom">
        <p>3 Kills</p>
        <p>Victory <i class="fas fa-trophy"></i></p>
      </div>
    </div>
  </div>
</div>
