<div class="header">
  <div class="header__container">
    <div class="header__name-tabs">
      <ul>
        {% for user in users %}
        <li>
          <a href="/users/{{ user.id }}">{{ user.username | safe }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="header__bottom">
      <h2 class="header__name">{{ selected_user.username | safe }}</h2>
      <div class="header__mode-tabs">
        <ul>
          <li>All</li>
          <li>Solo</li>
          <li>Duo</li>
          <li>Squad</li>
        </ul>
      </div>
    </div>
  </div>
</div>
