<div class="header">
  <div class="header__container">
    <nav class="header__top">
      <span class="header__title">Fortnite Dashboard</span>
      <ul class="header__name-menu" data-dropdown-menu>
        <li>
          <a href="#">{{ username }}</a>
          <ul class="menu">
            {% for user in users %}
            <li>
              <a href="/users/{{ user.id }}">{{ user.username }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header__break"></div>
    <div class="header__lower-menu">
      <span class="header__name">
        <h2>{{ username }}</h2>
      </span>
      <ul class="header__mode-tabs" data-tabs id="mode-tabs">
        <li class="header__mode-tabs-title tabs-title is-active">
          <a href="#all_stats">All</a>
        </li>
        <li class="header__mode-tabs-title tabs-title">
          <a href="#solo_stats">Solo</a>
        </li>
        <li class="header__mode-tabs-title tabs-title">
          <a href="#duo_stats">Duo</a>
        </li>
        <li class="header__mode-tabs-title tabs-title">
          <a href="#squad_stats">Squad</a>
        </li>
      </ul>
    </div>
  </div>
</div>
