<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>FN Dashboard</title>
    <link rel="stylesheet" href="/static/css/foundation.min.css" />
  </head>
  <body>
    <h1>Hello, World!</h1>
  </body>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/what-input.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script src="/static/js/app.js"></script>
</html>
