<div class="stats" id="total_stats">
  <div class="stats__container">
    <div class="stats__details">
      <div class="stats__list">
        <ul>
          <li><span>294</span><span>Victories</span></li>
          <li><span>4125</span><span>Matches</span></li>
          <li><span>1.54</span><span>K/D</span></li>
        </ul>
      </div>
      <div class="stats__kd-graph"><canvas id="kd-graph"></canvas></div>
      <div class="stats__placement-graph">
        <canvas id="placement-graph"></canvas>
      </div>
    </div>
    <div class="stats__games">
      <table class="stats__games-table hover">
        <tr>
          <th>Mode</th>
          <th>Placement</th>
          <th>Kills</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
        <tr>
          <td>Squad</td>
          <td>Top 3</td>
          <td>3</td>
          <td>1-20</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script>
  var kdGraph = document.getElementById('kd-graph');
  var kdChart = new Chart(kdGraph.getContext('2d'), {
    type: 'line',
    data: {
      labels: ['1/1', '1/2', '1/3', '1/4', '1/5'],
      datasets: [
        {
          label: 'K/D',
          data: [1, 1.3, 1.25, 1.3, 1.275],
          borderColor: '#1779ba',
          borderWidth: 2,
          fill: false,
          pointRadius: 1,
        },
      ],
    },
    options: {
      responsive: true,
      aspectRatio: 2,
      legend: {
        position: 'bottom',
      },
      scales: {
        yAxes: [
          {
            ticks: {
              min: 0.75,
              max: 1.5,
              stepSize: 0.25,
            },
          },
        ],
      },
    },
  });

  var placementGraph = document.getElementById('placement-graph');
  var placementChart = new Chart(placementGraph.getContext('2d'), {
    type: 'pie',
    data: {
      datasets: [
        {
          data: [204, 367, 567, 777],
        },
      ],
      labels: ['Victories', 'Top 3', 'Top 6', 'Losses'],
    },
    options: {
      aspectRatio: 2,
      legend: {
        position: 'bottom',
      },
    },
  });
</script>
